<div class="doctorDashboard" style="color:black;width:100%;background:#eef1f5;display:flex;">
	<div class="nodal_sidebar" style="min-width:250px;background:white;">
		<div><img src="css/img/doctoricon.png"></div>
		<h2>Doctor</h2>
		<h3>Dr. Jagani</h3>
	</div>
	<div class="doc_main" style="width:100%">
		<div class="doc_options" style="display:flex;align-items:center;justify-content:center;width:100%; margin-top:30px;">
			
			<div style="width:300px; height:80px;background:#43bfc7;margin-left:40px;display:flex;align-items:center;"><p style="font-size:2em;margin:auto;">Patient List</p></div>
			<div style="width:300px; height:80px;background:#0baaff;margin-left:40px;display:flex;align-items:center;"><p style="font-size:2em;margin:auto;">Records</p></div>
		</div>
		<div style="width: 100%">
			<div class="platform" style="width:100%;height:450px;">
				<div class="profileForm" style="width:90%; height: 400px; margin:auto;margin-top:40px;background:white;">

                    <div class="patient_card" style="display: flex;">
                        <p>Task Id</p><p>Patient Name</p><p>Illness Type</p>
                    </div>
						
				</div>
			</div>
		</div>
	</div>
</div>