<div class="nodalDashboard" style="color:black;width:100%;background:#eef1f5;display:flex;">
	<div class="nodal_sidebar" style="min-width:250px;background:white;">
		<div><img src="css/img/clerkicon.png"></div>
		<h2>Nodal Officer</h2>
		<h3>Babu Bisleri</h3>
	</div>
	<div class="nodal_main" style="width:100%">
		<div class="nodal_options" style="display:flex;align-items:center;justify-content:center;width:100%; margin-top:30px;">
			<div style="width:300px; height:80px;background:#46b6a6;margin-left:30px;display:flex;align-items:center;"><p style="font-size:2em;margin:auto;">Create New Profile</p></div>
			<div style="width:300px; height:80px;background:#43bfc7;margin-left:40px;display:flex;align-items:center;"><p style="font-size:2em;margin:auto;">Records</p></div>
			<div style="width:300px; height:80px;background:#0baaff;margin-left:40px;display:flex;align-items:center;"><p style="font-size:2em;margin:auto;">Status</p></div>
		</div>
		<div style="width: 100%">
			<div class="platform" style="width:100%;height:450px;">
				<div class="profileForm" style="width:70%; height: 400px; margin:auto;margin-top:40px;background:white;">
					<h1>Provide Patient's Details</h1>
					<div>
						<input type="text" placeholder="Aadhar ID">
						<input type="text" placeholder="Illness Type">
						<input type="text" placeholder="Symptoms">
						<input type="text" placeholder="Duration">
						<input type="text" placeholder="Medication">
						<input type="text" placeholder="Medical History">
						<input type="text" placeholder="Generic History">
						<input type="text" placeholder="Severity">
					</div>
					<div><button type="reset">Clear</button>
						<button type="submit">Create Profile</button>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>