<!-- Default form register -->

<div class="parentsignup">
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign up</p>
 
    <div class="form-row mb-4" >
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name" ng-model="firstName">
        </div>
        <div class="col">
            
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name" ng-model="lastName">
        </div>
    </div>

    <!-- E-mail -->
    <input type="text" id="defaultRegisterFormAadhar" class="form-control mb-4" placeholder="AadharID" ng-model="aadhar">

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" ng-model="password">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>

    <!-- Phone number -->
    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock" ng-model="phone">
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        Optional - for two step authentication
    </small>

    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit" ng-click="signup()">Sign in</button>
    <p data-ng-show="signupsuccess">Hi {{firstName}} You have been registered successfully. Please Login </p>

    <hr>

</form>
<!-- Default form register -->


<!-- Default form login -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" data-ng-model="userName">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" data-ng-model="loginPassword">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <input class="btn btn-info btn-block my-4" type="submit" ng-click="login()">
</form>

<a href="#!/nodal">officer panel</a>
<a href="#!/doctor">doctor panel</a>
<a href="#!/patient">patient panel</a>
</div>





<!-- Default form login -->